# Kotlin compiler sessions
.kotlin/

# Gradle
.gradle/
build/
gradle-app.setting

# Compiled (exceto o wrapper do Gradle)
*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
*.iml
.vscode/
bin/

# OS
.DS_Store
Thumbs.db

# Configurações locais de máquina (não commitar)
local.properties
