# Kotlin compiler sessions
.kotlin/

# Gradle
.gradle/
build/
gradle-app.setting
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# Compiled
*.class
*.jar

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Local server path (build.gradle.kts aponta para pasta local)
# Não commitamos o servidor, só o plugin
